<div class="container">
	<div class="row">
		<div align="center">
			<h1>Welcome To Testing App</h1>
				<div align="center">
					<br>
					<% if !signed_in? %>
						<h3> New User Need To Sign Up</h3>
						<%= link_to '<button class="btn-lg btn-primary" type="button">Sign Up</button>'.html_safe, new_user_registration_path %>
					<% else %>
						<h3> Logged in as: <%= current_user.user_type%></h3>
					<% end %>
				</div>
		</div>
	</div>
</div>